---
show_back_link: false
---
<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

    {% if site.google_analytics_id %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics_id }}');
      </script>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div id="header">
      <nav>
        <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
      </nav>
    </div>

    <div class="wrapper">
      <section>
        <div id="title">
          <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
          <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
          <hr>
          {% if page.show_back_link %}
            <span class="back-link left">
              <a href="/">&larr; Back</a>
            </span>
          {% endif %}
        </div>

        {{ content }}
      </section>

      <footer>
        <hr>
        <span class="credits left">Copyright &copy; {{ site.time | date: '%Y' }} <a href="{{ site.github.owner_url }}" target="_blank">Florian Steitz</a></span>
        <span class="credits right">
          {% if page.footer_credit_type == "jetbrains" %}
            {% include footer/credit_jetbrains.html %}
          {% else %}
            {% include footer/credit_github.html %}
          {% endif %}
        </span>
      </footer>
    </div>
  </body>
</html>